.services__box {
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  gap: 95px;
}

.services__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__img {
  width: 80px;
  height: 80px;
}

.services__title {
  margin-top: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services__text {
  margin-top: 8px;
  line-height: 21px;
}
