.contact__form {
  max-width: 737px;
  display: flex;
  flex-direction: column;
}

.contact__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* далее добавление красной звездочки в placeholder */
.placeholder__box {
  position: relative;
  display: block;
}


.placeholder-text {
  position: absolute;
  display: none;
	left: 16px;
	top: 0;
	bottom: 0;
	color: #7D8184;
  line-height: 50px;
	cursor: text;
	user-select: none;
}

.placeholder-text span {
  color: #DB4444;
}

.placeholder__box input:invalid + .placeholder-text {
	display: block;
}

.contact__textarea {
  padding: 13px 16px;
  display: block;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
}

.contact__input {
  max-width: 235px;
}

.contact__textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 207px;
  min-height: 207px;
  margin: 32px 0;
  display: block;
  resize: none;
}

.contact__btn {
  align-self: end;
}