.form {
  max-width: 737px;
  display: flex;
  flex-direction: column;

  .error {
    max-width: 230px;
    color: #e53e3e;
    margin-top: 10px;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  input {
    max-width: 235px;
    &::placeholder {
      color: #7D8184;
    }
  }
}


.textarea {
  padding: 13px 16px;
  display: block;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  max-width: 100%;
  min-width: 100%;
  max-height: 207px;
  min-height: 207px;
  margin: 32px 0;
  display: block;
  resize: none;
  &::placeholder {
    color: #7D8184;
  }
}

.btn {
  align-self: end;
}