.box {
  margin: 0 auto;
  padding-top: 140px;
  text-align: center;
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 110px;
  line-height: 115px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 80px;
}

.btn {
  display: inline-block;
}