.button {
  padding: 16px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-out;
  &.red {
    background-color: #db4444;
    border: none;
    color: #ffffff;
    border: 1px solid #DB4444;
    &:hover {
      background-color: #E07575;
      border: 1px solid #E07575;
    }
  }
  &.white {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #7d8184;
    &:hover {
      color: #000000;
      background-color: #ffffff;
      border: 1px solid #7D8184;
    }
  }
  &.green {
    background-color: #00FF66;
    color: #fff;
    border: none;
    &:hover {
        background-color: #A0BCE0;
    }
}
}
