.button {
  padding: 16px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-out;
  &.red {
    background-color: #db4444;
    color: #ffffff;
    border: 1px solid #db4444;
    &:hover {
      background-color: #E07575;
      border-color: #E07575;
    }
  }
  &.white {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #7d8184;
    &:hover {
      color: #7D8184;
      // background-color: #db4444;
      // border-color: transparent;
    }
  }
  &.green {
    background-color: #00ff66;
    color: #fff;
    border: none;
    &:hover {
      background-color: #a0bce0;
    }
  }
  &.black {
    color: #ffffff;
    background-color: #000000;
    border: none;
    &:hover {
      opacity: 0.8;
    }
  }
  &.icon {
    width: 34px;
    height: 34px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #ffffff;
  }
}
