.card {
  display: flex;
  flex-direction: column;
  .block {
    position: relative;
    width: 270px;
    height: 250px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #f5f5f5;
    .img {
      max-width: 170px;
    }
    .badge {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 55px;
      height: 26px;
      padding: 4px 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #ffffff;
      border-radius: 4px;
      background-color: #db4444;
    }
  }

  .boxBtn {
    position: absolute;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s ease-out;
    &:hover {
      background-color: #eae7e7;
    }
  }
  .addToFavoriteBtn {
    top: 12px;
    right: 12px;
  }

  .eyeBtn {
    top: 54px;
    right: 12px;
  }
  .title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
    transition: 0.5s ease-out;
    &:hover {
      color: #7d8184;
    }
  }
  .price {
    margin: 0;
    margin-bottom: 8px;
    color: #db4444;
  }
  .oldPrice {
    margin-left: 12px;
    color: #7d8184;
    text-decoration: line-through;
  }
  .addToCartBtn {
    position: absolute;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .cartIcon {
    margin-right: 8px;
  }
}
