.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__input {
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid #7d8184;
}

.form__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__error {
  border-color: #ff0606;
}
.input__error-message {
  font-size: 14px;
  color: #ff0606;
}

.login {
  height: 780px;
  margin-top: 60px;
  margin-bottom: 140px;
  font-family: Poppins, Arial, sans-serif;
  background-image: url('/public/img/AccountImgSide.jpg');
  background-repeat: no-repeat;
}

.login__container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.login__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.login__subtitle {
  margin-bottom: 48px;
}

.login__block {
  width: 370px;
  display: flex;
  flex-direction: column;
}

.login__box {
  width: 100%;
  text-align: center;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7d8184;
}

.login__box-link {
  position: relative;
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7d8184;
}

.login__box-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid #7d8184;
  bottom: 0;
}

.button__login {
  width: 143px;
}
