.login {
  height: 780px;
  margin-top: 60px;
  margin-bottom: 140px;
  font-family: Poppins, Arial, sans-serif;
  background-image: url('/public/img/AccountImgSide.jpg');
  background-repeat: no-repeat;
}

.login__container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.login__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.login__subtitle {
  margin-bottom: 48px;
}

.login__block {
  width: 370px;
  display: flex;
  flex-direction: column;
}

.login__box {
  width: 100%;
  text-align: center;
}

.forget-password:hover {
  text-decoration: underline;
}

.form__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__login {
  width: 143px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__input {
  padding: 7px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
