.servies__box {
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  gap: 95px;
}

.servies__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servies__img {
  width: 80px;
  height: 80px;
}

.servies__title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.servies__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
