.login__box {
  width: 100%;
  text-align: center;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7d8184;
}

.login__box-link {
  position: relative;
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7d8184;
}

.login__box-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid #7d8184;
  bottom: 0;
}

.signup__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button__google {
  margin-top: 16px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7d8184;
  border-radius: 4px;
}

.button__google:hover {
  color: #7d8184;
  transition: 0.5s ease-out;
}

.button__google img {
  margin-right: 16px;
}
.button__google {
  width: 100%;
  text-align: center;
}
