.label {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  &.black {
  
    input {
      &:checked+.radioBtn {
        span {
          background-color: #000;
        }
      }
    }
  }

  &.red {
    input {
      &:checked+.radioBtn {
        border: 2px solid #000;
        background-color: #fff;
        span {
          width: 10px;
          height: 10px;
          background-color: #E07575;
        }
      }
    }

    .radioBtn {
      border: none;
      width: 20px;
      height: 20px;
      background-color: #E07575;
    }
  }

  &.blue {
    input {
      &:checked+.radioBtn {
        border: 2px solid #000;
        background-color: #fff;
        span {
          width: 10px;
          height: 10px;
          background-color: #A0BCE0;
        }
      }
    }

    .radioBtn {
      border: none;
      width: 20px;
      height: 20px;
      background-color: #A0BCE0;
    }
  }

  input {
    display: none;

    &:checked+.radioBtn {
      span {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }
    }
  }

  .radioBtn {
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    border-radius: 100%;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}