.login__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget-password {
  position: relative;
}

.forget-password:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid #db4444;
  bottom: 0;
}