.account {
  margin-top: 80px;
  margin-bottom: 180px;
}

.headerBox {
  display: flex;
  justify-content: space-between;
}

.username {
  margin-left: 5px;
  color: #DB4444;
}

.box {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
