.box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.title {
  margin: 75px 0 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.04em;
}