@import url('./normalize.css');
@import url(./fonts.css);

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.container {
  width: 1190px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

.bg-black {
  background-color: #000000;
  color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.text-red {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #db4444;
}

.banner__button {
  background-color: #00ff66;
}

.banner__button:hover {
  background-color: #a0bce0;
  transition: 0.5s ease-out;
}

.d-flex {
  display: flex;
}

.ml-87 {
  margin-left: 87px;
}

.mr-87 {
  margin-right: 87px;
}

.align-center {
  align-items: center;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-140 {
  margin-bottom: 140px;
}