.cart__block-row {
  width: 100%;
  min-height: 102px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}


.cart-image {
  width: 50px;
  margin-right: 20px;
}

.cart__item {
  position: relative;
  width: 33.33%;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.cart__item:last-child {
  width: 70px;
}

/* Обрезка длинного текста без пробелов */
.cart__item-name {
  max-width: 150px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.cart__item-input {
  width: 72px;
  height: 44px;
  padding-left: 12px;
  padding-right: 28px;
  border-radius: 4px;
  border: 1px solid #7D8184;
}

.cart__item-quantity {
  position: relative;
}

.cart_arrow_up {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  right: 12px;
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
}

.cart_arrow_up-img,
.cart_arrow_down-img {
  width: 100%;
}
.cart_arrow_down {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 6px;
  right: 12px;
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon-cancel {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  height: 18px;
  width: 18px;
  top: 22px;
  left: -8px;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  background-color: #DB4444;
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.cart__block-row:hover .icon-cancel {
  opacity: 1;
  visibility: visible;
}